<h1>Edit Tweet:<%= @tweet.id %></h1>
 <form action="/tweets/<%= @tweet.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <input id="content" type="text" name="content" value="<%=@tweet.content%>"> 
  <input type="submit" value="Save">
 </form> 