<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Fwitter</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">

    <h2><%=@tweet.id%></h2>
    <p><%=@tweet.content%></p>
    <a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
    
    <form action="/tweets/<%=@tweet.id%>/delete" method="POST">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Tweet">
    </form>
    <a href="/logout">Log Out</a>
  </body>
</html>